
<style>

body { 
  background: url(/assets/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.container{
position: absolute;               
top: 35vh; 
left: 20%;
}

.title{
    font-size:4vw;
}



@media screen and (max-width: 600px) {

    .container{
        left:15%;
    }
    .title{
        font-size:5vw;
    }
    
    .subtitle{
        font-size:3vw;
    }
}
</style>


    <div class="container">
                <h1 class="text-white text-wrap title">パイロットについて学ぼう</h1>
                <br>
                <p class="text-white font-weight-light subtitle">大空への夢を今こそ。 <br/> そのためにはまず知識と経験を。</p>
                <a href="#course" class="btn btn-outline-danger font-weight-bold">学習コースへ</a>
    </div>
